/* Title */

.title {
  color: #c30928;
  font-family: Oswald, sans serif;
  font-size: 2.2em;
  font-weight: 700;
  position: fixed;
  top: 49px;
  left: 49px;
  width: min-content;
  transition: top .5s ease,opacity .5s ease, color .5s ease;
  cursor:pointer;
}



.title:hover {
   color:rgba(255, 255, 255, 0.8); 
}

.title:after {
   transition: opacity .3s ease,transform .3s ease,visibility .3s ease;  
}

.subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-family: Oswald, sans serif;
  font-size: 1.7em;
  font-weight: 500;
  position: fixed;
  top: 56px;
  left: 259px;
  width: min-content;
  transition: top .5s ease,opacity .5s ease, color .5s ease;
  cursor:pointer;
}
